{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(registrationForm, {'attr': {'class': 'login-form'}}) }}

        <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>

        {% if registrationForm.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(registrationForm) }}
            </div>
        {% endif %}

        <div class="mb-3">
            {{ form_label(registrationForm.firstName) }}
            {{ form_widget(registrationForm.firstName, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(registrationForm.firstName) }}
        </div>

        <div class="mb-3">
            {{ form_label(registrationForm.lastName) }}
            {{ form_widget(registrationForm.lastName, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(registrationForm.lastName) }}
        </div>

        <div class="mb-3">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(registrationForm.email) }}
        </div>

        <div class="mb-3">
            {{ form_label(registrationForm.plainPassword, 'Password') }}
            {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div>

        <div class="mb-3 form-check">
            {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'form-check-input'} }) }}
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-lg btn-primary">Register</button>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}